<div class="lesson_header">
	<%= link_to image_tag(@lesson.image), lessons_path %>
		<div id="lesson_description">
			<%= @lesson.description %>
		</div>
</div>
<%= link_to 'Edit', edit_lesson_path %>
<%= link_to 'Destroy', lesson_path(@lesson), :method => :delete,
																		   :confirm => 'Are you sure?' %>